body{
	color:rgb(50,50,50);
	margin:0px; 
	font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

#container{ 
	background-color:rgb(102,102,102);
	width:100%;  
	margin:0px auto; 
	padding:0px;
	box-sizing:border-box;

	display:flex;
	flex-wrap:wrap; 
	flex-direction:row; 
	align-content:flex-start; 
	align-items:stretch; 
	text-align: center;
}

@media only screen and (max-width:945px)
{
	h2{
		color: rgb(255,255,255);
		margin: 0px;
		margin-right: 0px;
		font-size: 1em;
	}

	nav{
		
		width:95%;
		background-color:rgb(26,26,26);
		margin:10px;
		padding:0px;
		box-sizing:border-box;
		text-align:center; 
		font-size: 1em;
		 
	}
}

h1{
	color: rgb(255,255,255);
	text-align: center;
	margin-right: 25px;
}

.big
{
	font-size: 2.5em;
	letter-spacing: 3px;
	font-family: 'Times New Roman', Times, serif
}

h2{
	color: rgb(255,255,255);
	display: flex;
	margin: 20px;
	margin-right: 0px;
}

h3{
	color: rgb(255,255,255);
	display: flex;
	margin: 20px;
	margin-bottom: 12px;
	justify-content: center;
	font-size: 1.5em;
}

h4{
	color: rgb(255,255,255);
	display: flex;
	margin: 20px;
	margin-bottom: 12px;
	font-size: 1.2em;
}

h5{
	color: rgb(255,255,255);
	display: flex;
	margin: 40px;
	margin-top: 0px;
	font-size: 1.1em;
	margin-bottom: 0px;
}

.smallheader
{
	font-size: 1em;
}


p{
	color: rgb(255,255,255);
	display: flex;
	margin: 20px;
	font-size: 1.5em;
	
}


li{	
	color: rgb(255,255,255);
	display: flex;
	margin: 40px;
	margin-top: 3px;
	margin-bottom:0px;
	max-width: 1440px;
	text-align: left;
	font-size: 1.25em;	
}

.pre /* pre <div> mimic adapted from https://webmasters.stackexchange.com/questions/16596/how-to-mimic-pre-with-div */
{
	white-space: pre;
	display: flex;
	margin: 30px;
}

.dropdown /* drop down code adapted from https://www.w3schools.com/howto/howto_css_dropdown.asp */
{
	display: flex;
	flex-direction: column;
}

.dropbutton
{
	padding-right: 10px;
	border:none;
	display:flex;
}

.dropdowncontent
{
	display: none;
	position: absolute;
	background-color: rgb(26,26,26);
	min-width: 200px;
	z-index:1;
	color:rgb(255,255,255);
	margin-top: 29px;
}

.dropdown:hover .dropdowncontent
{
	display: flex;
	flex-direction: column;
}


figcaption{
	color: rgb(255,255,255);
	font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

header{
	width:100%;
	background-color:rgb(26,26,26);
	padding:0px;
	max-height:85px;
	box-sizing:border-box;
	text-align: center; 
}

nav{
	display:flex;
	width:95%;
	background-color:rgb(26,26,26);
	margin:10px ;
	padding:0px;
	box-sizing:border-box;
	text-align:center; 
	font-size: 1.5em;
	 
}


nav ul{
	list-style-type: none;
	margin:0px;
	padding:0px;
}

nav ul li{
	display:inline-block;
	margin:0px 50px;
	background-color:rgb(150,150,150);
	padding:10px;
}

nav a{
	text-decoration: none;
}

nav a:hover{
	color: rgb(75,75,75);
}

.bigfont{
	font-weight: bold;
}

a:link{
	color: rgb(150,150,150);
	margin-left: 5px;
}


a.nomargin
{
	margin: 0px;
}

a:visited{
	color: rgb(150,150,150);
	margin-left: 5px;
}

a:active{
	color: rgb(255,255,255);
}

a.activewindow
{
	color: rgb(75,75,75);
}
a.whitetext
{
	color: rgb(255,255,255);
}

a:hover{
	color: rgb(150,150,150);
}


p.smalltext
{
	color: rgb(255,255,255);
	text-align: left;
	font-size: 1em;
}

img.whitebackground
{
	background-color: rgb(255,255,255);
}
#article{
	width:100%;
	background-color:rgb(102,102,102);
	margin:0px;
	padding:0px;
	box-sizing:border-box;
	min-height: 1000px;

	display:flex;
	flex-wrap:wrap; 
	flex-direction:row; 
	align-content:flex-start; 
	align-items:stretch; 
	/*justify-content: center;*/
}

.fullwidth{
	background-color:rgb(77,77,77);
	margin:2%;
	width:96%;
	padding:2%;
	box-sizing:border-box;
	justify-content: center;
	
}

.buttonbox{
	flex-direction: column;
	max-width: 700px;
	flex-flow: wrap;
	justify-content: center;
	margin: auto;
	padding: 0px;
	
}

.halfwidth{
	background-color:rgb(77,77,77);
	margin:2%;
	width:46%;
	padding:2%;
	box-sizing:border-box;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	flex-direction: row;
}

.centertext
{
	text-align: center;
}
.thirdwidth{
	background-color:rgb(77,77,77);
	margin:2%;
	width:29.33333333%;
	padding:2%;
    box-sizing:border-box;
}

.quarterwidth{
	background-color:rgb(77,77,77);
	margin:2%;
	width:21%;
	padding:2%;
	box-sizing:border-box;
	flex-direction: row;
}

.fifthwidth{
    background-color:rgb(77,77,77);
    margin:2%;
    width: 16%;
    padding: 2%;
    box-sizing:border-box;
}

.sixthwidth{
    background-color:rgb(77,77,77);
    margin: 2%;
    width: 12.666%;
    padding: 2%;
    box-sizing: border-box;
}

.eighthwidth{
    background-color:rgb(77,77,77);
    margin: 2%;
    width: 8.5%;
    padding: 2%;
    box-sizing: border-box;
}

.indent{
	text-indent: 20px;
}
img{
	max-width:100%;
	padding: 0px;
}